.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background);
}

.main {
  flex: 1;
  padding: 2rem 1rem;
}

@media (min-width: 640px) {
  .main {
    padding-inline: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-inline: 2rem;
  }
}
